<h1>Bienvenue à la page d'accueil {{userName}}</h1>
<p>accueil works!</p>

<div class="form-group">
    <label for=""></label>
    <input type="number" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" [(ngModel)]="nbr">
    <small id="helpId" class="form-text text-muted">Help text</small>
</div>

<div *ngIf="nbr%2==0;else templateName">
    <div class="alert alert-primary" role="alert">
        <strong>{{nbr}} est un nombre paire</strong>
    </div>
</div>
<ng-template #templateName>
    <div class="alert alert-danger" role="alert">
        <strong>{{nbr}} est un nombre impaire</strong>
    </div>
</ng-template>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Lieu</th>
            <th scope="col">Date</th>
            <th scope="col">Image</th>
            <th scope="col" colspan="2">Opérations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rv of tabRvs">
            <th scope="row">{{rv.id}}</th>
            <td>{{rv.desc}}</td>
            <td>{{rv.lieu}}</td>
            <td>{{rv.date}}</td>
            <td><img src="{{rv.image}}" alt="" srcset="" style="color:red"></td>
            <td>
                <i class="fa fa-edit fa-2x" style="color:red">&nbsp;Editer</i> <br><br>
                <i class="fa fa-trash fa-2x" style="color:red" (click)="supprimer(rv.id)">&nbsp;Delete</i>
            </td>

        </tr>
    </tbody>
</table>