<h1>Bienvenue à la page d'accueil {{userName}}</h1>
<p>accueil works!</p>

<div class="form-group">
    <label for=""></label>
    <input type="number" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" [(ngModel)]="nbr">
    <small id="helpId" class="form-text text-muted">Help text</small>
</div>

<div *ngIf="nbr%2==0;else templateName">
    <div class="alert alert-primary" role="alert">
        <strong>{{nbr}} est un nombre paire</strong>
    </div>
</div>
<ng-template #templateName>
    <div class="alert alert-danger" role="alert">
        <strong>{{nbr}} est un nombre impaire</strong>
    </div>
</ng-template>